body {
  background: url(../img/SignInBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.asp-checklist tr td input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -1.25rem;
}

.asp-checklist tr td label {
  margin-bottom: 0;
}

.details-button 
