<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <connectionStrings>
    <add name="invDBConStr" connectionString="Data Source=192.185.7.119;Initial Catalog=jhudgins6768_SeniorProject;Persist Security Info=True;User ID=jhudgins6768_admin;Password=TheAdminPasswordIsAdminPassword1"/>
  </connectionStrings>
</configuration>