<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="invDBConStr" connectionString="Data Source=192.185.7.119;Initial Catalog=jhudgins6768_SeniorProject;Persist Security Info=True;User ID=jhudgins6768_admin;Password=TheAdminPasswordIsAdminPassword1" />
  </connectionStrings>
</configuration>